{%extends "layout.html"%}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{% endblock %}

{%block content%}
<div class="main-div" style="text-align: center;">
    <img class="bg-img"
        src="https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        alt="">
    <h1 class="inner-div"
        style="margin-top: 80px;position: absolute;top: 30vh;width: 50%;left: 22%;margin: 40px;font-weight: 600;">
        MediSphere</h1>
    <h1 class="inner-div2"
        style="margin-top: 80px;font-size: 20px;position: absolute;top: 40vh;width: 50%;left: 25%;font-weight: 300;">A
        web application to diagnose the disease based on the symptoms given by the user and suggesting the preventions
        to
        deal with some common disease.</h1>
    <div style="display: flex;flex-direction: column;">
        <i class="down-arrow fas fa-angle-down inner-div3" style="position: absolute;top: 60vh;left: 49%;"></i>
        <i class="down-arrow fas fa-angle-down inner-div4" style="position: absolute;top: 63vh;left: 49%;"></i>
        <i class="down-arrow fas fa-angle-down inner-div5" style="position: absolute;top: 66vh;left: 49%;"></i>
    </div>
</div>


<div style="padding: 80px; background-color: #f7f7f7; margin-bottom: 50px;">
    <h2 class="show-on-scroll inline-photo">Why diagnose disease?</h2>
    <i class="down-arrow fas fa-angle-down show-on-scroll inline-photo"></i>
    <p class="show-on-scroll inline-photo" style="padding: 0 40px;">Disease diagnosis plays a pivotal role in healthcare
        informatics. It is crucial to diagnose the disease at an early stage. The lack or delay in proper treatment can
        also lead to the death of patients. Therefore disease diagnosis can prove to be life saving in many cases.
        Disease diagnose system can assist doctors, physicians and healthcare professionals in effective decision making
        for disease diagnosis as well. </p>
</div>
<div class="features" style="padding: 120px 0;">
    <h2 class="show-on-scroll inline-photo">Features</h2>
    <i class="down-arrow fas fa-angle-down show-on-scroll inline-photo"></i>
    <ol class="show-on-scroll inline-photo" style="display: flex; margin: 0 80px;padding-left: 0;">
        <li style="padding: 20px;">
            <img style="height: 150px; width: 150px; border-radius: 50%; object-fit: cover;margin: 40px;"
                src="../static/img/course1.jpeg" alt="">
            <h3>Disease Diagnosis</h3>
            <p>The disease is diagnosed using the algorithm(Decision Tree Classifier) and the user has to enter the
                symptoms from the given drop-down menu. </p>
        </li>
        <li style="padding: 30px;">
            <img style="height: 150px; width: 150px; border-radius: 50%; object-fit: cover;margin: 40px;"
                src="../static/img/course2.png" alt="">
            <h3>Health Manoeuvre</h3>
            <p>User is provided with resources for preventing common diseases. Insighful information related to yoga
                asanas are given for preventing diseases.</p>
        </li>
        <li style="padding: 20px;">
            <img style="height: 150px; width: 150px; border-radius: 50%; object-fit: cover;margin: 40px;"
                src="../static/img/course3.png" alt="">
            <h3>Bulletin & MediBot</h3>
            <p>The web application provides latest health related news from all over the world and provide location of
                nearby health centers. Have conversation with our medibot.</p>
        </li>
    </ol>
</div>

<div class="stats" style="background-color: #f7f7f7; padding: 120px 0;">
    <h2 class="show-on-scroll inline-photo">Fun Stats</h2>
    <i class="show-on-scroll inline-photo down-arrow fas fa-angle-down"></i>
    <ul style="margin-bottom: 0;">
        <div class="skill-row show-on-scroll inline-photo">
            <img class="code-img" src="../static/img/course1.jpeg" alt="code-img">
            <h3>Diagnose Accuracy</h3>
            <p>Machine Learning is an emerging approach that helps in diagnosis, diagnosis of a disease. The accuracy of
                an algorithm is determined by the performance on the given dataset. Our model is able to diagnose data
                with 90% average accuracy.</p>
            <p>Rating: <i class="fas fa-star golden"></i><i class="fas fa-star golden"></i><i
                    class="fas fa-star golden"></i><i class="fas fa-star golden"></i><i class="fas fa-star"></i></p>
        </div>
        <div class="skill-row show-on-scroll inline-photo">
            <img class="chilli-img" src="../static/img/course2.png" alt="chillies-img">
            <h3>Awards & Achievements</h3>
            <p>However we have not been awarded any awards or certifiacte for the idea yet but we wish that we can
                enhance this application that it can be of great help in medical industry and is able to save hundreds
                of lives.</p>
            <p>Rating: <i class="fas fa-star golden"></i><i class="fas fa-star golden"></i><i
                    class="fas fa-star golden"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
        <div class="skill-row show-on-scroll inline-photo" style="margin-bottom: 0;">
            <img class="code-img" src="../static/img/course3.png" alt="code-img">
            <h3>Creative Ideas</h3>
            <p>In future, we are planning to implement the feature of disease diagnosis through whatsapp. We also aim to
                develop the feature of seeking online medical help via a calling feature.</p>
            <p style="margin-bottom: 0;">Rating: <i class="fas fa-star golden"></i><i class="fas fa-star golden"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
    </ul>
</div>

<div class="fluid-container newsletter" style="background-color: #62afb9; padding: 60px; text-align: left;">
    <div class="row">
        <div class="col-lg-3">
            <img src="../static/img/letter1.png" alt="">
        </div>
        <div class="col-lg-9" style="padding: 50px 0 0 50px;">
            <div>
                <h3 style="font-weight: 500; color: white;">Subscribe to our newsletter and never miss an update!</h3>
                <p style="color: white;">Subscribe and get the latest news regarding the improvement in the healtcare
                    technologies. Stay Updated!</p>
                <input type="text" placeholder="Enter your email address">
                <button class="btn" style="padding: 10px; background-color: #ff4449; color: white;">Let's get
                    started!</button>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/guide.js')}}"></script>
{%endblock%}
