{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/yoga.css')}}">
{% endblock %}

{% block content %}
<h1>YOGA ASANAS FOR PREVENTING ASTHMA</h1>
<div class="container main-div" style="margin-top: 120px; margin-bottom: 120px; padding: 50px;">
    <h1>ASTHMA</h1>
    <div>
        <div class="text lightbox-text">
            <h3 aria-hidden="true">Asthma attack</h3>
            <p class="caption"></p>
            <p>If you have asthma, the inside walls of the airways in your lungs can become inflamed and swollen. In
                addition, membranes in your airway linings may secrete excess mucus. The result is an asthma attack.
                During an asthma attack, your narrowed airways make it harder to breathe, and you may cough and wheeze.
            </p>
            <p></p>
        </div>
        <p>Asthma is a condition in which your airways narrow and swell and may produce extra mucus. This can make
            breathing difficult and trigger coughing, a whistling sound (wheezing) when you breathe out and shortness of
            breath.</p>
        <p>For some people, asthma is a minor nuisance. For others, it can be a major problem that interferes with daily
            activities and may lead to a life-threatening asthma attack.</p>
        <div id="ad-mobile-top-container"></div>
        <p>Asthma can't be cured, but its symptoms can be controlled. Because asthma often changes over time, it's
            important that you work with your doctor to track your signs and symptoms and adjust your treatment as
            needed.
        <h2>Symptoms</h2>
        <p>Asthma symptoms vary from person to person. You may have infrequent asthma attacks, have symptoms only at
            certain times — such as when exercising — or have symptoms all the time.</p>
        <p>Asthma signs and symptoms include:</p>
        <ul>
            <li>Shortness of breath</li>
            <li>Chest tightness or pain</li>
            <li>Wheezing when exhaling, which is a common sign of asthma in children</li>
            <li>Trouble sleeping caused by shortness of breath, coughing or wheezing</li>
            <li>Coughing or wheezing attacks that are worsened by a respiratory virus, such as a cold or the flu</li>
        </ul>
        <p>Signs that your asthma is probably worsening include:</p>
        <ul>
            <li>Asthma signs and symptoms that are more frequent and bothersome</li>
            <li>Increasing difficulty breathing, as measured with a device used to check how well your lungs are working
                (peak flow meter)</li>
            <li>The need to use a quick-relief inhaler more often</li>
        </ul>
        <p>For some people, asthma signs and symptoms flare up in certain situations:</p>
        <ul>
            <li><strong>Exercise-induced asthma,</strong> which may be worse when the air is cold and dry</li>
            <li><strong>Occupational asthma,</strong> triggered by workplace irritants such as chemical fumes, gases or
                dust</li>
            <li><strong>Allergy-induced asthma,</strong> triggered by airborne substances, such as pollen, mold spores,
                cockroach waste, or particles of skin and dried saliva shed by pets (pet dander)</li>
        </ul>
        <h3>When to see a doctor</h3>
        <h4>Seek emergency treatment</h4>
        <p>Severe asthma attacks can be life-threatening. Work with your doctor to determine what to do when your signs
            and symptoms worsen — and when you need emergency treatment. Signs of an asthma emergency include:</p>
        <ul>
            <li>Rapid worsening of shortness of breath or wheezing</li>
            <li>No improvement even after using a quick-relief inhaler</li>
            <li>Shortness of breath when you are doing minimal physical activity</li>
        </ul>
        <h4>Contact your doctor</h4>
        <p>See your doctor:</p>
        <ul>
            <li><strong>If you think you have asthma.</strong> If you have frequent coughing or wheezing that lasts more
                than a few days or any other signs or symptoms of asthma, see your doctor. Treating asthma early may
                prevent long-term lung damage and help keep the condition from getting worse over time.</li>
            <li><strong>To monitor your asthma after diagnosis.</strong> If you know you have asthma, work with your
                doctor to keep it under control. Good long-term control helps you feel better from day to day and can
                prevent a life-threatening asthma attack.</li>
            <li>
                <p><strong>If your asthma symptoms get worse.</strong> Contact your doctor right away if your medication
                    doesn't seem to ease your symptoms or if you need to use your quick-relief inhaler more often.</p>
                <p>Don't take more medication than prescribed without consulting your doctor first. Overusing asthma
                    medication can cause side effects and may make your asthma worse.</p>
            </li>
            <li><strong>To review your treatment.</strong> Asthma often changes over time. Meet with your doctor
                regularly to discuss your symptoms and make any needed treatment adjustments.</li>
            <h2>Causes</h2>
            <p>It isn't clear why some people get asthma and others don't, but it's probably due to a combination of
                environmental and inherited (genetic) factors.</p>
            <h3>Asthma triggers</h3>
            <p>Exposure to various irritants and substances that trigger allergies (allergens) can trigger signs and
                symptoms of asthma. Asthma triggers are different from person to person and can include:</p>
            <ul>
                <li>Airborne allergens, such as pollen, dust mites, mold spores, pet dander or particles of cockroach
                    waste</li>
                <li>Respiratory infections, such as the common cold</li>
                <li>Physical activity</li>
                <li>Cold air</li>
                <li>Air pollutants and irritants, such as smoke</li>
                <li>Certain medications, including beta blockers, aspirin, and nonsteroidal anti-inflammatory drugs,
                    such as ibuprofen (Advil, Motrin IB, others) and naproxen sodium (Aleve)</li>
                <li>Strong emotions and stress</li>
                <li>Sulfites and preservatives added to some types of foods and beverages, including shrimp, dried
                    fruit, processed potatoes, beer and wine</li>
                <li>Gastroesophageal reflux disease (GERD), a condition in which stomach acids back up into your throat
                </li>
                <h2>Risk factors</h2>
                <p>A number of factors are thought to increase your chances of developing asthma. They include:</p>
                <ul>
                    <li>Having a blood relative with asthma, such as a parent or sibling</li>
                    <li>Having another allergic condition, such as atopic dermatitis — which causes red, itchy skin — or
                        hay fever — which causes a runny nose, congestion and itchy eyes</li>
                    <li>Being overweight</li>
                    <li>Being a smoker</li>
                    <li>Exposure to secondhand smoke</li>
                    <li>Exposure to exhaust fumes or other types of pollution</li>
                    <li>Exposure to occupational triggers, such as chemicals used in farming, hairdressing and
                        manufacturing</li>
                </ul>

                <h2>Complications</h2>
                <p>Asthma complications include:</p>
                <ul>
                    <li>Signs and symptoms that interfere with sleep, work and other activities</li>
                    <li>Sick days from work or school during asthma flare-ups</li>
                    <li>A permanent narrowing of the tubes that carry air to and from your lungs (bronchial tubes),
                        which affects how well you can breathe</li>
                    <li>Emergency room visits and hospitalizations for severe asthma attacks</li>
                    <li>Side effects from long-term use of some medications used to stabilize severe asthma</li>
                </ul>
                <p>Proper treatment makes a big difference in preventing both short-term and long-term complications
                    caused by asthma.</p>
                <h2>Prevention</h2>
                <p>While there's no way to prevent asthma, you and your doctor can design a step-by-step plan for living
                    with your condition and preventing asthma attacks.</p>
                <ul>
                    <li>
                        <p><strong>Follow your asthma action plan.</strong> With your doctor and health care team, write
                            a detailed plan for taking medications and managing an asthma attack. Then be sure to follow
                            your plan.</p>
                        <p>Asthma is an ongoing condition that needs regular monitoring and treatment. Taking control of
                            your treatment can make you feel more in control of your life.</p>
                    </li>
                    <li><strong>Get vaccinated for influenza and pneumonia.</strong> Staying current with vaccinations
                        can prevent flu and pneumonia from triggering asthma flare-ups.</li>
                    <li><strong>Identify and avoid asthma triggers.</strong> A number of outdoor allergens and irritants
                        — ranging from pollen and mold to cold air and air pollution — can trigger asthma attacks. Find
                        out what causes or worsens your asthma, and take steps to avoid those triggers.</li>
                    <li>
                        <p><strong>Monitor your breathing.</strong> You may learn to recognize warning signs of an
                            impending attack, such as slight coughing, wheezing or shortness of breath.</p>
                        <p>But because your lung function may decrease before you notice any signs or symptoms,
                            regularly measure and record your peak airflow with a home peak flow meter. A peak flow
                            meter measures how hard you can breathe out. Your doctor can show you how to monitor your
                            peak flow at home.</p>
                    </li>
                    <li>
                        <p><strong>Identify and treat attacks early.</strong> If you act quickly, you're less likely to
                            have a severe attack. You also won't need as much medication to control your symptoms.</p>
                        <p>When your peak flow measurements decrease and alert you to an oncoming attack, take your
                            medication as instructed. Also, immediately stop any activity that may have triggered the
                            attack. If your symptoms don't improve, get medical help as directed in your action plan.
                        </p>
                    </li>
                    <li><strong>Take your medication as prescribed.</strong> Don't change your medications without first
                        talking to your doctor, even if your asthma seems to be improving. It's a good idea to bring
                        your medications with you to each doctor visit. Your doctor can make sure you're using your
                        medications correctly and taking the right dose.</li>
                    <li><strong>Pay attention to increasing quick-relief inhaler use.</strong> If you find yourself
                        relying on your quick-relief inhaler, such as albuterol, your asthma isn't under control. See
                        your doctor about adjusting your treatment.</li>
                </ul>
    </div>


    <h1>YOGA ASANAS FOR PREVENTING DIABETES</h1>
    <div class="conatiner first">
        <h2>Bhujangasana (Cobra Pose)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/bhujangasana.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Bhujangasana widely known as Cobra Pose is a backward bending pose. The Sanskrit name Bhujangasana is
                    derived from two words. ‘Bhujanga’ stands for serpent while ‘asana’ means posture. The final
                    position of Bhujangasana resembles a cobra with its hood raised and hence the name. It is an
                    excellent pose for strengthening the spine along with many other benefits such as alleviating
                    constipation, stimulating appetite, and massaging abdominal organs.</p>
            </div>
        </div>
        <h3>Steps to practice Bhujangasana (Cobra Pose)</h3>
        <ol>
            <li>Lie flat on your stomach keeping your legs straight, feet together, heels slightly touching each other
                and toes pointing.</li>
            <li>Rest the palm of your hands by the side of your chest, your arms must be close to your body with elbows
                pointing outward.</li>
            <li>Rest your forehead on the floor and relax your body.</li>
            <li>Inhale and raise your forehead, neck and then shoulders. Using your back muscles raise your chest, now
                use the strength of your arms to raise your trunk. Look upward breathing normally. This is the final
                position.</li>
            <li>In the final position, your navel should not raise more than 3cm; with your pubic bones touching the
                floor. Hold this position for 20-25 seconds.</li>
            <li>To come back to starting position first exhale and then slowly lower your navel, chest, shoulders, neck,
                and forehead. Relax and take deep breaths.</li>
        </ol>
        <p>Practice this asana 3-5 times, practicing before or after a forward bending pose such as Paschimottanasana
            (seated forward bend) will give you maximum benefits. With regular practice, you will be able to straighten
            your arms, arching the spine to a greater extent.</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Bhujangasana (Cobra Pose) Benefits</h3>
                <ol>
                    <li>Being the 7th posture of Suryanamaskar, it has several benefits such as:</li>
                    <li>Strengthens the spine, keeps it strong, healthy, and flexible.</li>
                    <li>Gives a good stretch to your neck, shoulder, chest, lungs, and abdomen.</li>
                    <li>Enhances the functioning of abdominal organs such as kidney and liver.</li>
                    <li>Beneficial in menstrual and other disorders of the female reproductive system.</li>
                    <li>Useful for people suffering from back pain, slipped disc, sciatica and cervical spondylitis.
                    </li>
                </ol>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fOdrW7nf9gw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3 id="3-precautions-amp-contraindications">Precautions for Bhujangasana (Cobra Pose)</h3>
            <ol>
                <li>Arch your spine as much as you can but don’t apply force. Some people are naturally flexible while
                    some are not and a lot of us have very stiff muscles. Never rush! Give your body the time it needs
                    to gain strength and flexibility.</li>
                <li>Take very little support of your arms, use your back muscles to hold the weight of your upper body
                    in the pose that is how your spine is going to get stronger.</li>
                <li>Your feet might raise a bit from the ground unintentionally, try to keep them down.</li>
                <li>Practice this asana under the guidance of an instructor if you suffer from any of this condition:
                    hyperthyroidism, hernia, peptic ulcer or intestinal tuberculosis.</li>
            </ol>
        </div>
    </div>


    <div class="conatiner second">
        <h2>Paschimottanasana (Seated forward bend)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/paschimottanasana.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Paschimottanasana due to its intense stretching effect on the whole back is also known by several
                    other names such as seated forward bend back stretching pose and intense dorsal stretch. Practicing
                    this asana invigorates muscles of spinal column and circulation of the nerves along with many other
                    benefits. So let’s begin with the steps to practice Paschimottanasana.</p>
            </div>
        </div>
        <h3>Steps to practice Paschimottanasana (Seated forward bend)</h3>
        <p>Starting position: Sit with the legs outstretched straight in front, feet together without touching each
            other. Back, neck and head straight and comfortable. Hands on the side, palms faced down resting on the
            floor behind the buttocks. Relax the whole body.</p>
        <ol>
            <li>Move your trunk forward from the pelvic region while sliding your hands towards the legs.</li>
            <li>Reach the feet using your hands. Aim to get a hold of the big toes with your thumb and fingers.</li>
            <li>If you successfully reach the big toes, grab ankles, heels or any other part of the feet that you can
                hold without applying force.</li>
            <li>If you don’t reach your feet, keep your hands the farthest you can comfortably.</li>
            <li>Remain in this position for a few seconds.Relax the muscles of the back and legs.</li>
            <li>Keep the legs straight; using the arms’ muscles gently extend the spine.Bring the trunk closer to the
                body while bending your elbows. If possible touch the forehead to the knees without using force.</li>
            <li>Remain in this position for as long as you feel comfortable. Take slow and deep breaths.</li>
            <li>To come back to starting position let go of the hold of feet/legs, raise the head and slowly move the
                trunk back using the muscles of the pelvic region.</li>
        </ol>
        <p>Practice this asana 3-5 times, practicing before or after a forward bending pose such as Paschimottanasana
            (seated forward bend) will give you maximum benefits. With regular practice, you will be able to straighten
            your arms, arching the spine to a greater extent.</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Bhujangasana (Cobra Pose) Benefits</h3>
                <ul>
                    <li>Tones and massages the organs of the pelvic and abdominal region such as pancreas, liver,
                        kidneys, spleen, adrenal glands and gonad glands.</li>
                    <li>Improves digestion, remove excess fat from the pelvic and abdominal region and increase the
                        flexibility of the hip joints.</li>
                    <li>Gives a good stretch to the spinal column, hamstring muscles and is beneficial for the heart.
                    </li>
                    <li>Helpful in curing impotency in males.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/T8sgVyF4Ux4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3 id="3-precautions-amp-contraindications">Precautions for Paschimottanasana (Seated forward bend)</h3>
            <ul>
                <li>While moving the trunk forward use the muscles of the pelvic region of the back, not the spine
                    muscles. Initially, it won’t be easy for people having stiff muscles but with practice, it can be
                    learned.</li>
                <li>While reaching for the big toes expand the arms from the shoulder but don’t use force to reach the
                    big toes. The time differs from person to person to reach the final position depending on their
                    flexibility and consistency they put into practice.</li>
                <li>This asana should not be practiced in case the person suffers from any of this condition: sciatica
                    slipped disc and hernia.</li>
            </ul>
        </div>
    </div>



    <div class="conatiner first">
        <h2>Sukhasana (Easy Pose)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/Easy-Pose.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>If you struggle while sitting in difficult meditative yoga poses or experience discomfort, then Easy
                    Pose is the best meditative pose for you. Sukhasana is the simplest meditative posture and hence
                    known as Easy Pose. It is an excellent pose for beginners and for those who have a very stiff body.
                </p>
            </div>
        </div>
        <h3>Steps to practice Sukhasana (Easy Pose)</h3>
        <ol>
            <li>Sit straight with the legs stretched out in front of the body.</li>
            <li>Bend the left leg and place the left foot beneath right thigh.</li>
            <li>Similarly, bend the right leg and place the right foot beneath left thigh.</li>
            <li>Rest the outer edge of your feet on the floor.</li>
            <li>Adjust the body and legs to get comfortable in the pose.</li>
            <li>The head, neck and spine must be erect (without strain).</li>
            <li>Place the palms on the knees or thighs.</li>
            <li>Keep the shoulder relaxed and elbows a bit bent.</li>
            <li>Close your eyes and relax the whole body, take slow and deep breaths.</li>
            <li>Feel each and every breath moving in and out of the body.</li>
            <li>Practice for a minute or less if you feel discomfort.</li>
            <li>Practice twice by interchanging the position of the legs.</li>
        </ol>
        <p>Keeping the spine straight might be tough in the beginning as most of us are habitual of sitting with our
            spine supported (while studying, while driving, in the office, while watching TV etc). Regular practice is
            the key to sit straight without any support, it makes our back muscles strong and prevents any kind of a
            backache or impending back disease.</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Sukhasana Benefits</h3>
                <ul>
                    <li>Gradually strengthens muscles of the back and improves body posture.</li>
                    <li>Being a meditative pose it has relaxing effects on mind and body.</li>
                    <li>Works as a preparatory pose for more difficult meditative poses.</li>
                    <li>Builds physical and mental balance.</li>
                    <li>Helpful in reducing stress and anxiety.</li>
                    <li>Excellent for people having a stiff body.</li>
                    <li>Creates flexibility in ankle, knee and hip joints.</li>
                    <li>Improves concentration for achieving an effective meditation practice.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ri9B8IzLXIY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3>Things you should know about Sukhasana (Easy Pose)</h3>
            <ul>
                <li>After practicing more complex meditative yoga poses (such as Padmasana or Siddhasana) for a longer
                    duration, Sukhasana can be practiced to relax the body.</li>
                <li>Even though Sukhasana is one the easiest meditation poses, you will be surprised to know that
                    retaining it for longer duration is difficult.</li>
                <li>Difficult because in this posture the weight of the entire body is supported by the buttocks which
                    give the body little space for support.</li>
                <li>Harder meditative poses such as Padmasana (Lotus Pose) are easy to hold for longer duration because
                    knees are placed on the ground or are closer to the ground which creates a larger area to support
                    body weight.</li>
            </ul>
            <h3>Precautions for Sukhasana (Easy Pose)</h3>
            <ul>
                <li>Avoid practicing Easy Pose in case of severe knee pain, lower backache or sciatica.</li>
            </ul>
        </div>
    </div>



    <div class="conatiner second">
        <h2>Chakrasana (Wheel Pose)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/chakrasana.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Chakrasana commonly known as Wheel Pose is also called Upward-Facing Bow Pose and Back Bridge. The
                    Sanskrit name ‘Chakrasana’ is derived from the Sanskrit word chakra and asana, where ‘chakra’ stands
                    for ‘wheel’ and ‘asana’ stands for ‘posture’ or ‘seat’. In Sanskrit, Chakrasana is also known as
                    ‘Urdhvadhanurasana’. It is a backward-bending pose and a part of Ashtanga yoga. Chakrasana increases
                    the flexibility to the spine. </p>
            </div>
        </div>
        <h3>Steps to practice Chakrasana (Wheel Pose)</h3>
        <ol>
            <li>Increases the flexibility of the body.</li>
            <li>Strengthens the bones and muscles of the body and is mainly beneficial in strengthening the legs.</li>
            <li>strengthens the respiratory system as by doing it, the chest enhances and the lungs get oxygen to its
                fullest.</li>
            <li>Relives all the stress and tension as it strengthens the nervous system and refreshes the brain.</li>
            <li>Helpful in reducing the fat of the abdomen and to get rid of the bloated belly.</li>
            <li>Beneficial for the digestive system, gastric problems and for all the disorders of the female
                reproductive system.</li>
            <li>Ensures better functioning of the heart, liver, spleen, and kidneys. Helpful in curing hernia.</li>
        </ol>
        <p>Keeping the spine straight might be tough in the beginning as most of us are habitual of sitting with our
            spine supported (while studying, while driving, in the office, while watching TV etc). Regular practice is
            the key to sit straight without any support, it makes our back muscles strong and prevents any kind of a
            backache or impending back disease.</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Chakrasana (Wheel Pose) Benefits</h3>
                <ul>
                    <li>Gradually strengthens muscles of the back and improves body posture.</li>
                    <li>Being a meditative pose it has relaxing effects on mind and body.</li>
                    <li>Works as a preparatory pose for more difficult meditative poses.</li>
                    <li>Builds physical and mental balance.</li>
                    <li>Helpful in reducing stress and anxiety.</li>
                    <li>Excellent for people having a stiff body.</li>
                    <li>Creates flexibility in ankle, knee and hip joints.</li>
                    <li>Improves concentration for achieving an effective meditation practice.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4CWuONgOX0c"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3>Precautions for Chakrasana (Wheel Pose)</h3>
            <ul>
                <li>Do not practice Chakrasana directly. You should practice easy postures such as setu asana and other
                    backward back bending asanas as preparatory asanas before practicing Chakrasana.</li>
                <li>It should not be practiced by people suffering from any illness.</li>
                <li>Chakrasana is not suitable for weak people having some weakness in wrist or back.</li>
                <li>Women should avoid practicing Chakrasana during pregnancy.</li>
            </ul>
        </div>
    </div>


    <div class="conatiner first">
        <h2>Parvatasana Sitting Pose | Mountain Pose</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/parvatasana-yoga.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Parvatasana is a simple seated asana, which is considered to be one of the most important seated
                    postures in yoga. While the legs are grounded in padmasana, or lotus pose, the whole of the upper
                    body is stretched upwards with the arms over the head and palms pressed together.</p>
                <p>The common English name for parvatasana is mountain pose.</p>
                <p>Parvatasana comes from the Sanskrit words parvata, meaning “mountain,” and asana, meaning “pose." In
                    parvatasana, the body is thought to resemble the shape of a mountain.
                    There are many physical and mental benefits of parvatasana including improved concentration. It is
                    also thought to stimulate the heart chakra, helping one to feel sensations of deep love and peace.
                    Pranayama practices may also be performed whilst in parvatasana in order to increase its overall
                    beneficial effects.</p>
            </div>
        </div>
        <h3>Procedure of parvatasana sitting pose</h3>
        <ul>
            <li>Sit straight up and assume Padmasana.</li>
            <li>Intertwine the fingers of both hands to form a finger lock.</li>
            <li>Inhale and raise the arms above your head.</li>
            <li>Stretch the arms so that they are straight.</li>
            <li>The posterior and knees should remain on the ground.</li>
            <li>Turn up your palms over the head.</li>
            <li>Exhale.</li>
            <li>Inhale and now and stretch your arms further up feeling the tug on the shoulder blades.</li>
            <li>Stretch your trunk upwards and remain in this posture for about ten seconds.</li>
            <li>Exhale and return to Padmasana.</li>
            <li>You can also perform the pose with the palms joined together and fingers stretched up.</li>
        </ul>
        <div class="row">
            <div class="col-lg-6">
                <h3>Benefits of parvatasana sitting pose</h3>
                <ul>
                    <li>Parvatasana helps develop a proper breathing technique.</li>
                    <li>With regular practice of the pose, your lung capacity will increase.</li>
                    <li>Parvatasana helps reduce flab from the abdomen, tummy, hips and the waist.</li>
                    <li>The pose has a slimming effect on the physique.</li>
                    <li>The spine and ribs are stretched.</li>
                    <li>The abdomen, pelvis and side muscles are pulled up and hence get toned.</li>
                    <li>Muscles of the diaphragm develop strength.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/XrC7-Tsou40"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3>Precaution of parvatasana sitting pose</h3>
            <ul>
                <li>Ankle or knee injury: Perform this pose only with the supervision of an experienced teacher. </li>
            </ul>
        </div>
    </div>


    <div class="conatiner second">
        <h2>Matsyasana (Fish Pose)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/matsyasana.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>You might have read in a lot of sources that performing Matsyasana in water enables one to float like
                    a fish. Yet I have never read any traditional yogic text to perform a yoga pose in water. Anyways!
                    Fish Pose is an intermediate backward bending yoga posture. Since Padmasana is the base position for
                    this posture it is not easy for even yoga intermediates.Though fortunately there is always an easier
                    variation for several challenging yoga poses which is suitable to be practiced by beginners as well.
                </p>
            </div>
        </div>
        <h3>How to practice Matsyasana (Fish Pose)</h3>
        <ul>
            <li>Relax the body in Padmasana taking long and deep breaths.</li>
            <li>Slowly move the body backward placing the right elbow and forearm on the floor carefully. Follow the
                same with the left arm.</li>
            <li>Taking the support of elbows and forearms, slowly lower your body placing the crown of the head on the
                floor.</li>
            <li>Arch your back as much as you can (without straining). Hold the feet with your hands.</li>
            <li>Ensure your head is placed comfortably, don’t put weight on it, simply place it on the ground.</li>
            <li>Close the eyes and relax the body. Take slow and deep breaths. Hold the final pose for a few seconds.
            </li>
            <li>Exhale and reverse the movements one by one to release the posture. Relax in padmasana for a few
                seconds.</li>
            <li>Practice with the other side by interchanging the position of the legs in Lotus Pose.</li>
            <li></li>
        </ul>
        <div class="row">
            <div class="col-lg-6">
                <h3>Benefits of Matsyasana (Fish Pose)</h3>
                <ul>
                    <li>Highly beneficial in curing abdominal ailments and constipation.</li>
                    <li>Intestines and abdominal organs are stretched and exercised.</li>
                    <li>Helpful in relieving inflammation and bleeding of piles.</li>
                    <li>Prevents respiratory disorders such as asthma and bronchitis.</li>
                    <li>Alleviates back pain by improving the blood circulation in the spine.</li>
                    <li>Improves the functioning of thyroid gland and develops strong immune system.</li>
                    <li>Stimulates the functioning of pelvic region by increasing blood flow in this area.</li>
                    <li>Increases vitality and preserves youthfulness.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MEgYDfwMV_w"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3>Precautions for Matsyasana (Fish Pose)</h3>
            <ul>
                <li>Lower and raise the body in and out of the final position very slowly and carefully taking the
                    support of elbows. Rushing this moment may easily result in a spine or neck injury.</li>
                <li>If you suffer from any health issue presently, consult your doctor or physician before practicing a
                    yoga regime and practice only in the presence of a competent yoga trainer.</li>
                <li>People who suffer from any of this condition must avoid practicing Matsyasana: a migraine, back or
                    neck injury, peptic ulcers, heart disease, hernia, high or low blood pressure.</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}