{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/yoga.css')}}">
{% endblock %}

{% block content %}
<h1>YOGA ASANAS FOR PREVENTING BACKPAIN</h1>
<div class="container main-div" style="margin-top: 120px; margin-bottom: 120px; padding: 50px;">
    <h1>BACKPAIN</h1>
    <div>
        <h1>What is causing this pain in my back?</h1>
        <div>
            <p>Back pain is a common reason for absence from work and for seeking medical treatment. It can be
                uncomfortable and debilitating.</p>
        </div>
        <p>It can result from injury, activity and some medical conditions. Back pain can affect people of any age, for
            different reasons. As people get older, the chance of developing
            </a>
            <span></hl-trusted-source> lower back pain increases, due to factors such as previous occupation and
                degenerative disk disease.
        </p>
        <p>Lower back pain may be linked to the bony lumbar spine, discs between the vertebrae, ligaments around the
            spine and discs, spinal cord and nerves, lower back muscles, abdominal and pelvic internal organs, and the
            skin around the lumbar area.</p>
        <p>Pain in the upper back may be due to disorders of the aorta, tumors in the chest, and spine inflammation</a>.
        </p>
    </div>
    <div>
        <h2>
            <div>Causes</div>
        </h2>
        <em>Problems with the spine such as osteoporosis can lead to back pain.</em></p>
        <p>The human back is composed of a complex structure of muscles, ligaments, tendons, disks, and bones, which
            work together to support the body and enable us to move around.</p>
        <p>The segments of the spine are cushioned with cartilage-like pads called disks.</p>
        <p>Problems with any of these components can lead to back pain. In some cases of back pain, its cause remains
            unclear.</p>
        <p>Damage can result from strain, medical conditions, and poor posture, among others.</p>
        <h3>Strain</h3>
        <p>Back pain commonly stems from strain, tension, or injury. </p>
        <ul>
            <li>strained muscles or ligaments</li>
            <li>a muscle spasm</li>
            <li>muscle tension</li>
            <li>damaged disks</li>
            <li>injuries, fractures, or falls</li>
        </ul>
        <p>Activities that can lead to strains or spasms include:</p>
        <ul>
            <li>lifting something improperly</li>
            <li>lifting something that is too heavy</li>
            <li>making an abrupt and awkward movement</li>
        </ul>
        <h3>Structural problems</h3>
        <p>A number of structural problems may also result in back pain.</p>
        <ul>
            <li><b>Ruptured disks:</b> Each vertebra in the spine is cushioned by disks. If the disk ruptures there will
                be more pressure on a nerve, resulting in back pain.</li>
            <li><b>Bulging disks:</b> In much the same way as ruptured disks, a bulging disk can result in more pressure
                on a nerve.</li>
            <li><b>Sciatica: </b>A sharp and shooting pain travels through the buttock and down the back of the leg,
                caused by a bulging or herniated disk pressing on a nerve.</li>
            <li><b>Arthritis:</b> Osteoarthritis can cause problems with the joints in the hips, lower back, and other
                places. In some cases, the space around the spinal cord narrows. This is known as spinal stenosis.</li>
            <li><b>Abnormal curvature of the spine:</b> If the spine curves in an unusual way, back pain can result. An
                example is scoliosis, in which the spine curves to the side.</li>
            <li><b>Osteoporosis:</b> Bones, including the vertebrae of the spine, become brittle and porous, making
                compression fractures more likely.</li>
            <li><strong>Kidney problems</strong>: Kidney stones or kidney infection can cause back pain.</li>
        </ul>
        <h3>Movement and posture</h3>
        <p>Adopting a very hunched sitting position when using computers can result in increased back and shoulder
            problems over time.</p>
        <p>Back pain can also result from some everyday activities or poor posture.</p>
        <p>Examples include:</p>
        <ul>
            <li>twisting</li>
            <li>coughing or sneezing</li>
            <li>muscle tension</li>
            <li>over-stretching</li>
            <li>bending awkwardly or for long periods</li>
            <li>pushing, pulling, lifting, or carrying something</li>
            <li>standing or sitting for long periods</li>
            <li>straining the neck forward, such as when driving or using a computer</li>
            <li>long driving sessions without a break, even when not hunched</li>
            <li>sleeping on a mattress that does not support the body and keep the spine straight</li>
        </ul>
        <h3>Other causes</h3>
        <p>Some medical conditions can lead to back pain.</p>
        <ul>
            <li><b>Cauda equina syndrome:</b> The cauda equine is a bundle of spinal nerve roots that arise from the
                lower end of the spinal cord. Symptoms include a dull pain in the lower back and upper buttocks, as well
                as numbness in the buttocks, genitalia, and thighs. There are sometimes bowel and bladder function
                disturbances.</li>
            <li><b>Cancer of the spine: </b>A tumor on the spine may press against a nerve, resulting in back pain.</li>
            <li><b>Infection of the spine:</b> A fever and a tender, warm area on the back could be due to an infection
                of the spine.</li>
            <li><b>Other infections: </b>Pelvic inflammatory disease, bladder, or kidney infections may also lead to
                back pain.</li>
            <li><b>Sleep disorders:</b> Individuals with sleep disorders are more likely to experience back pain,
                compared with others.</li>
            <li><b>Shingles:</b> An infection that can affect the nerves may lead to back pain. This depends on which
                nerves are affected.</li>
        </ul>
    </div>
    </aside>
    <div class="css-0">
        <h2>
            <div>
                Symptoms
            </div>
        </h2>
        <p> The main symptom of back pain is an ache or pain anywhere in the back, and sometimes all the way down to the
            buttocks and legs.</p>
        <p>Some back issues can cause pain in other parts of the body, depending on the nerves affected. </p>
        <p>The pain often goes away without treatment, but if it occurs with any of the following people should see
            their doctor: </p>
        <ul>
            <li>weight loss </li>
            <li>fever </li>
            <li>inflammation or swelling on the back </li>
            <li>persistent back pain, where lying down or resting does not help </li>
            <li>pain down the legs </li>
            <li>pain that reaches below the knees </li>
            <li>a recent injury, blow or trauma to the back </li>
            <li>urinary incontinence</li>
            <li>difficulty urinating </li>
            <li>fecal incontinence, or loss of control over bowel movements </li>
            <li>numbness around the genitals </li>
            <li>numbness around the anus </li>
            <li>numbness around the buttocks </li>
        </ul>
        <h2>
            <div>Prevention</div>
        </h2>
        <p><span class="anchor" id="preventing_back_pain"></p>
        <p>Steps to lower the risk of developing back pain consist mainly of addressing some of the risk factors.</p>
        <p><b>Exercise</b>: Regular exercise helps build strength and control body weight. Guided, low-impact aerobic
            activities can boost heart health without straining or jerking the back. Before starting any exercise
            program, talk to a health care professional. </p>
        <p>There are two main types of exercise that people can do to reduce the risk of back pain:</p>
        <ul>
            <li>Core-strengthening exercises work the abdominal and back muscles, helping to strengthen muscles that
                protect the back.</li>
            <li>Flexibility training aims at improving core flexibility, including the spine, hips, and upper legs.</li>
        </ul>
        <p><strong>Diet</strong>: Make sure your diet includes enough calcium and vitamin D, as these are needed for
            bone health. A healthful diet also helps control body weight.</p>
        <p><b>Smoking</b>: A significantly higher percentage of smokers have back pain incidences compared to
            non-smokers of the same age, height, and weight.</p>
        <p><b>Body weight</b>: The weight people carry and where they carry it affects the risk of developing back pain.
            The difference in back pain risk between obese and normal-weight individuals is considerable. People who
            carry their weight in the abdominal area versus the buttocks and hip area are also at greater risk.</p>
        <p><b>Posture when standing</b>: Make sure you have a neutral pelvic position. Stand upright, head facing
            forward, back straight, and balance your weight evenly on both feet. Keep your legs straight and your head
            in line with your spine. </p>
        <p><b>Posture when sitting</b>: A good seat for working should have good back support, arm rests and a swivel
            base. When sitting, try to keep your knees and hips level and keep your feet flat on the floor, or use a
            footstool. You should ideally be able to sit upright with support in the small of your back. If you are
            using a keyboard, make sure your elbows are at right-angles and that your forearms are horizontal.</p>
        <p><b>Lifting</b><b><b>: </b></b>When lifting things, use your legs to do the lifting, rather than your back.
        </p>
        <p>Keep your back as straight as you can, keeping your feet apart with one leg slightly forward so you can
            maintain balance. Bend only at the knees, hold the weight close to your body, and straighten the legs while
            changing the position of your back as little as possible. </p>
        <p>Bending your back initially is unavoidable, but when you bend your back try not to stoop, and be sure to
            tighten your stomach muscles so that your pelvis is pulled in. Most important, do not straighten your legs
            before lifting, or you will be using your back for most of the work.</p>
        <p><b>Do not lift and twist at the same time:</b> If something is particularly heavy, see if you can lift it
            with someone else. While you are lifting keep looking straight ahead, not up or down, so that the back of
            your neck is like a continuous straight line from your spine.</p>
        <p><b>Moving things:</b> It is better for your back to push things across the floor, using your leg strength,
            rather than pulling them.</p>
        <p><b>Shoes:</b> Flat shoes place less of a strain on the back.</p>
        <p><b>Driving</b>: It is important to have proper support for your back. Make sure the wing mirrors are properly
            positioned so you do not need to twist. The pedals should be squarely in front of your feet. If you are on a
            long journey, have plenty of breaks. Get out of the car and walk around.</p>
        <p><b>Bed:</b> You should have a mattress that keeps your spine straight, while at the same time supporting the
            weight of your shoulders and buttocks. Use a pillow, but not one that forces your neck into a steep angle.
        </p>
    </div>

    <h1>YOGA ASANAS FOR PREVENTING BACKPAIN</h1>
    <div class="conatiner first">
        <h2>Tadasana</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/tadasana.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <h3>What is Tadasana?</h3>
                <p>Tadasana serves to be the foundation for follow-up poses. In Sanskrit, ‘Tada’ means ‘mountain’ and
                    ‘asana’ means ‘pose’. Hence the name, ‘Mountain Pose’. It is an ideal pose for those with weak back
                    muscles and rounded backs as it can help restore the body’s natural alignment. Children are often
                    suggested to practise this asana and it can help in increasing the height. This asana can also help
                    improve posture. Let’s take a look at the benefits of practising this asana.</p>
            </div>
        </div>
        <h3>Steps to practice Tadasana</h3>
        <ol>
            <li>Stand on a yoga mat; your feet should be slightly apart.</li>
            <li>Your hands should be alongside your body.</li>
            <li>Inhale deeply and slowly raise your arms upwards then interlock your fingers.</li>
            <li>Raise your heels and stand on your toes. Your toes should be fanned out a little.</li>
            <li>Feel your body stretching. Look up.</li>
            <li>Place your body weight on your toes and stretch out your shoulders, arms, and chest up.</li>
            <li>Hold this pose for a few moments.</li>
            <li>Exhale and return to the starting position.</li>
        </ol>
        <div class="row">
            <div class="col-lg-6">
                <h3>Benefits of Tadasana</h3>
                <ol>
                    <li>Improves Your Posture</li>
                    <li>May Help Increases Height</li>
                    <li>Boosts Mental Awareness</li>
                    <li>Improves Breathing</li>
                    <li>Promotes Weight Loss</li>
                    <li>Boosts Energy Levels</li>
                    <li>Improves Your Mood</li>
                    <li>Provides Relief From Sciatica</li>
                </ol>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0mPNlC0vD6s"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3 id="3-precautions-amp-contraindications">Precautions to Take While Doing Tadasana</h3>
            <p>If you have never performed this asana before, you must practise it with caution. Here are some
                precautions you will need to take while practising this asana.</p>
            <ol>
                <li>Don’t do this pose if you suffer from insomnia.</li>
                <li>If you experience a headache, stop immediately.</li>
                <li>If you take any blood thinning medications or have low blood pressure, avoid doing this pose without
                    consulting a doctor.</li>
            </ol>
        </div>
    </div>


    <div class="conatiner second">
        <h2>Ardha Matsyendrasana (Half Spinal Twist)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/ardha.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Ardha Matsyendrasana also known as Vakrasana is seated spinal twist and falls into the category of
                    intermediate yoga poses yet its simpler variation can be practiced by beginners as well. Half Spinal
                    Twist also acknowledged as Half Lord of the Fishes Pose is one of those yoga poses that have quite
                    complex steps. Its new practitioners often end up getting confused while following the steps. Before
                    you practice, ensure you are aware of the steps very well. It has several variations out of which we
                    have selected two to be mentioned in this article today. So let’s get to know them after splitting
                    the Sanskrit name Ardha Matsyendrasana and revealing the meaning of each word.</p>
            </div>
        </div>
        <h3>How to do Ardha Matsyendrasana (Half Spinal Twist)</h3>
        <p>Starting Position: Sit straight, keeping the legs outstretched in front of the body.</p>
        <ol>
            <li>Bend the right leg over the left leg, placing the right foot on the outside of the left knee, keep the
                toes of right foot face forward.</li>
            <li>Bend the left leg, bringing the left foot near the right buttock. keep left foot’s outside edge in
                contact with the floor.</li>
            <p>Position the legs first:</p>
            <li>There is a space between your chest and right knee. Pass the left arm through that space bringing the
                left hand close to the right foot.</li>
            <li>Grab a firm hold of the right foot with the left hand bringing the right knee closer to left armpit. Try
                to keep the spine erect.</li>
            <p>Make the twist</p>
            <li>Slowly twist the trunk to the right along with moving the neck.</li>
            <li>Wrap the right arm around the waist placing the fingers on the left inner thigh.</li>
            <li>Use the left arm pressing it against the right leg to move the trunk as far as you can comfortably.</li>
            <li>Gaze straight over the right shoulder at a fixed point. Relax the body taking deep and slow breaths.
            </li>
            <li>To return, reverse the movements one by one. Repeat on the opposite side.</li>
        </ol>
        <p>Practice once on both the sides by interchanging the position of arms and legs.</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Benefits of Ardha Matsyendrasana (Half Spinal Twist)</h3>
                <ul>
                    <li>Tones the spinal nerves, stretches back muscles and contracts the abdomen at the same time.</li>
                    <li>Gives relief in lumbago and reduces muscle spasms and cramps.</li>
                    <li>Beneficial for people suffering from asthma or other respiratory diseases.</li>
                    <li>Massages and improves the functioning of abdominal organs, especially toning the liver, pancreas
                        and the kidneys.</li>
                    <li>Alleviates digestive and gastric problems. Stimulates appetite.</li>
                    <li>Regulates adrenaline in the body by balancing the secretions of the adrenal</li>
                    <li>Useful in getting rid of obesity as the regular practice of this asana removes excess body fat.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/51EqCa6ZGCw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3 id="3-precautions-amp-contraindications">Precautions & Contraindications</h3>
            <ul>
                <li>Perform the Half Spinal Twist after practicing forward and backward bending yoga pose.</li>
                <li>Neither twist the torso all of a sudden nor overstretch it as that way you may strain the muscles.
                </li>
                <li>Practice Half Spinal Twist in the presence of a competent yoga trainer if you suffer from a hernia,
                    heart disease, ulcer or</li>
                <li>Avoid practicing Ardha Matsyendrasana in case of sciatica or slipped disc.</li>
                <li>This pose is not recommended to be practiced by pregnant women.</li>
            </ul>
        </div>
    </div>


    <div class="conatiner first">
        <h2>Bhujangasana (Cobra Pose)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/bhujangasana.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Bhujangasana widely known as Cobra Pose is a backward bending pose. The Sanskrit name Bhujangasana is
                    derived from two words. ‘Bhujanga’ stands for serpent while ‘asana’ means posture. The final
                    position of Bhujangasana resembles a cobra with its hood raised and hence the name. It is an
                    excellent pose for strengthening the spine along with many other benefits such as alleviating
                    constipation, stimulating appetite, and massaging abdominal organs.</p>
            </div>
        </div>
        <h3>Steps to practice Bhujangasana (Cobra Pose)</h3>
        <ol>
            <li>Lie flat on your stomach keeping your legs straight, feet together, heels slightly touching each other
                and toes pointing.</li>
            <li>Rest the palm of your hands by the side of your chest, your arms must be close to your body with elbows
                pointing outward.</li>
            <li>Rest your forehead on the floor and relax your body.</li>
            <li>Inhale and raise your forehead, neck and then shoulders. Using your back muscles raise your chest, now
                use the strength of your arms to raise your trunk. Look upward breathing normally. This is the final
                position.</li>
            <li>In the final position, your navel should not raise more than 3cm; with your pubic bones touching the
                floor. Hold this position for 20-25 seconds.</li>
            <li>To come back to starting position first exhale and then slowly lower your navel, chest, shoulders, neck,
                and forehead. Relax and take deep breaths.</li>
        </ol>
        <p>Practice this asana 3-5 times, practicing before or after a forward bending pose such as Paschimottanasana
            (seated forward bend) will give you maximum benefits. With regular practice, you will be able to straighten
            your arms, arching the spine to a greater extent.</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Bhujangasana (Cobra Pose) Benefits</h3>
                <ol>
                    <li>Being the 7th posture of Suryanamaskar, it has several benefits such as:</li>
                    <li>Strengthens the spine, keeps it strong, healthy, and flexible.</li>
                    <li>Gives a good stretch to your neck, shoulder, chest, lungs, and abdomen.</li>
                    <li>Enhances the functioning of abdominal organs such as kidney and liver.</li>
                    <li>Beneficial in menstrual and other disorders of the female reproductive system.</li>
                    <li>Useful for people suffering from back pain, slipped disc, sciatica and cervical spondylitis.
                    </li>
                </ol>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fOdrW7nf9gw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3 id="3-precautions-amp-contraindications">Precautions for Bhujangasana (Cobra Pose)</h3>
            <ol>
                <li>Arch your spine as much as you can but don’t apply force. Some people are naturally flexible while
                    some are not and a lot of us have very stiff muscles. Never rush! Give your body the time it needs
                    to gain strength and flexibility.</li>
                <li>Take very little support of your arms, use your back muscles to hold the weight of your upper body
                    in the pose that is how your spine is going to get stronger.</li>
                <li>Your feet might raise a bit from the ground unintentionally, try to keep them down.</li>
                <li>Practice this asana under the guidance of an instructor if you suffer from any of this condition:
                    hyperthyroidism, hernia, peptic ulcer or intestinal tuberculosis.</li>
            </ol>
        </div>
    </div>


    <div class="conatiner second">
        <h2>Vakrasana</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/vakrasna.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Vakrasana- This is an important asana for reducing abdominal fat and stretching the thigh muscles it
                    also helps to strengthen the nervous system and helps in overcoming spinal injuries. It is derived
                    from a Sanskrit word in which Vakra means twisted and asana means posture. The trunk of the body is
                    twisted on either side and is practised in a sitting position.</p>
            </div>
        </div>
        <h3>Steps to do Vakrasana</h3>
        <ul>
            <li>Sit erect on the yoga mat or floor so that the spine is at 90degrees to the ground.</li>
            <li>Both legs should be stretched forward</li>
            <li>Bend the right leg at the knee straight and stretched and place the foot by the side of the left leg.
            </li>
            <li>Keep your right hand behind resting the palm on the ground. In align with the right leg but away from
                the body</li>
            <li>Inhale and keep the left hand shoulder high on the right leg by keeping the elbow straight.</li>
            <li>Exhale and twist towards the right hand side.</li>
            <li>Keep the face relaxed and keep breathing normally</li>
            <li>Hold the position for 2mins.</li>
            <li>Relax and get back to the original position.</li>
            <li>Repeat the position on the other side.</li>
            <li>Take a deep breath and relax.</li><br>
        </ul>
        <div class="row">
            <div class="col-lg-6">
                <h3>Benefits of Vakrasana</h3>
                <ul>
                    <li>Helps in loosening the spine muscles. removes stiffness in the back.</li>
                    <li>Helps to overcome constipation.</li>
                    <li>Reduces the belly fat, loosens the hip joints and helps in releasing stiffness from the body.
                    </li>
                    <li>Helps in controlling diabetes. For best results diabetic patients should do twice in a day.</li>
                    <li>Helps in regulating the secretion of digestive juices and also helps in various digestive
                        disorders.</li>
                    <li>stretches the muscles of the whole body.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fqqotJRqncU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3 id="3-precautions-amp-contraindications">Precaution while doing vakrasana</h3>
            <ul>
                <li>It is advised that pregnant women should avoid doing this asana as it presses the abdomen. Women
                    should also avoid doing during menstruation.</li>
                <li>People with back pain in the back, hip, shoulders or neck should avoid doing this asana.</li>
                <li>This asana is not recommended to people suffering from hernia or Ulcer. Consult a physician before
                    doing this asana.</li>
            </ul>
        </div>
    </div>




</div>
{% endblock %}