{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/yoga.css')}}">
{% endblock %}

{% block content %}
<h1>YOGA ASANAS FOR PREVENTING DIABETES</h1>
<div class="container main-div" style="margin-top: 120px; margin-bottom: 120px; padding: 50px;">
    <h1>DIABETES</h1>
    <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is
        your main source of energy and comes from the food you eat. , a hormone made by the pancreas, helps glucose from
        food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or
        doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.
    </p>
    <p>Over time, having too much glucose in your blood can cause health problems. Although diabetes has no cure, you
        can take steps to manage your diabetes and stay healthy.
    </p>
    <p>Sometimes people call diabetes “a touch of sugar” or “borderline diabetes.” These terms suggest that someone
        doesn’t really have diabetes or has a less serious case, but every case of diabetes is serious.
    </p>
    <figure class="medium center">
        <img src="/-/media/Images/Health-Information/Diabetes/diabetes-monitor-fruits-vegetables-small_597x347.png"
            alt="Diabetes monitor with fruits and vegetables">
        <span class="figcaption"><span class="caption">Diabetes affects just about everyone, from the over 110 million
                Americans with or at risk for the disease to the many more people who care for them.
    </figure>
    <h2 id="types">What are the different types of diabetes?</h2>
    <p>The most common types of diabetes are type 1, type 2, and gestational diabetes.
    </p>
    <h3>Type 1 diabetes </h3>
    <p>
        If you have type 1 diabetes, your body does not make insulin. Your immune system attacks and destroys the cells
        in your pancreas that make insulin. Type 1 diabetes is usually diagnosed in children and young adults, although
        it can appear at any age. People with type 1 diabetes need to take insulin every day to stay alive.
    </p>
    <h3>Type 2 diabetes</h3>
    <p>
        If you have type 2 diabetes, your body does not make or use insulin well. You can develop type 2 diabetes at any
        age, even during childhood. However, this type of diabetes occurs most often in middle-aged and older people.
        Type 2 is the most common type of diabetes. </p>
    <h3>
        Gestational diabetes </h3>
    <p>
        Gestational diabetes develops in some women when they are pregnant. Most of the time, this type of diabetes goes
        away after the baby is born. However, if you’ve had gestational diabetes, you have a greater chance of
        developing type 2 diabetes later in life. Sometimes diabetes diagnosed during pregnancy is actually type 2
        diabetes.
    </p>
    <h3>Other types of diabetes
    </h3>
    <p>Less common types include monogenic diabetes, which is an inherited form of diabetes, and cystic fibrosis-related
        diabetes External link.
    </p>
    <h2 id="common">How common is diabetes?</h2>
    <p>As of 2015, 30.3 million people in the United States, or 9.4 percent of the population, had diabetes. More than 1
        in 4 of them didn’t know they had the disease. Diabetes affects 1 in 4 people over the age of 65. About 90-95
        percent of cases in adults are type 2 diabetes.<sup>1</sup></p>
    <h2 id="morelikely">Who is more likely to develop type 2 diabetes?</h2>
    <p>You are more likely to develop type 2 diabetes if you are age 45 or older, have a family history of diabetes, or
        are overweight. Physical inactivity, race, and certain health problems such as high blood pressure also affect
        your chance of developing type 2 diabetes. You are also more likely to develop type 2 diabetes if you have
        prediabetes or had gestational diabetes when you were pregnant. Learn more about risk factors for type 2
        diabetes.
    </p>
    <h2 id="problems">What health problems can people with diabetes develop?</h2>
    <p>Over time, high blood glucose leads to problems such as</p>
    <ul>
        <li>heart disease</li>
        <li>stroke</li>
        <li>kidney disease</li>
        <li>eye problems</li>
        <li>dental disease</li>
        <li>nerve damage</li>
        <li>foot problems </li>
    </ul>
    <p>
        You can take steps to lower your chances of developing these diabetes-related health problems.
    </p>

    <h1>YOGA ASANAS FOR PREVENTING DIABETES</h1>
    <div class="conatiner first">
        <h2>Ardha Matsyendrasana (Half Spinal Twist)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/ardha.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Ardha Matsyendrasana also known as Vakrasana is seated spinal twist and falls into the category of
                    intermediate yoga poses yet its simpler variation can be practiced by beginners as well. Half Spinal
                    Twist also acknowledged as Half Lord of the Fishes Pose is one of those yoga poses that have quite
                    complex steps. Its new practitioners often end up getting confused while following the steps. Before
                    you practice, ensure you are aware of the steps very well. It has several variations out of which we
                    have selected two to be mentioned in this article today. So let’s get to know them after splitting
                    the Sanskrit name Ardha Matsyendrasana and revealing the meaning of each word.</p>
            </div>
        </div>
        <h3>How to do Ardha Matsyendrasana (Half Spinal Twist)</h3>
        <p>Starting Position: Sit straight, keeping the legs outstretched in front of the body.</p>
        <ol>
            <li>Bend the right leg over the left leg, placing the right foot on the outside of the left knee, keep the
                toes of right foot face forward.</li>
            <li>Bend the left leg, bringing the left foot near the right buttock. keep left foot’s outside edge in
                contact with the floor.</li>
            <p>Position the legs first:</p>
            <li>There is a space between your chest and right knee. Pass the left arm through that space bringing the
                left hand close to the right foot.</li>
            <li>Grab a firm hold of the right foot with the left hand bringing the right knee closer to left armpit. Try
                to keep the spine erect.</li>
            <p>Make the twist</p>
            <li>Slowly twist the trunk to the right along with moving the neck.</li>
            <li>Wrap the right arm around the waist placing the fingers on the left inner thigh.</li>
            <li>Use the left arm pressing it against the right leg to move the trunk as far as you can comfortably.</li>
            <li>Gaze straight over the right shoulder at a fixed point. Relax the body taking deep and slow breaths.
            </li>
            <li>To return, reverse the movements one by one. Repeat on the opposite side.</li>
        </ol>
        <p>Practice once on both the sides by interchanging the position of arms and legs.</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Benefits of Ardha Matsyendrasana (Half Spinal Twist)</h3>
                <ul>
                    <li>Tones the spinal nerves, stretches back muscles and contracts the abdomen at the same time.</li>
                    <li>Gives relief in lumbago and reduces muscle spasms and cramps.</li>
                    <li>Beneficial for people suffering from asthma or other respiratory diseases.</li>
                    <li>Massages and improves the functioning of abdominal organs, especially toning the liver, pancreas
                        and the kidneys.</li>
                    <li>Alleviates digestive and gastric problems. Stimulates appetite.</li>
                    <li>Regulates adrenaline in the body by balancing the secretions of the adrenal</li>
                    <li>Useful in getting rid of obesity as the regular practice of this asana removes excess body fat.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/51EqCa6ZGCw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3 id="3-precautions-amp-contraindications">Precautions & Contraindications</h3>
            <ul>
                <li>Perform the Half Spinal Twist after practicing forward and backward bending yoga pose.</li>
                <li>Neither twist the torso all of a sudden nor overstretch it as that way you may strain the muscles.
                </li>
                <li>Practice Half Spinal Twist in the presence of a competent yoga trainer if you suffer from a hernia,
                    heart disease, ulcer or</li>
                <li>Avoid practicing Ardha Matsyendrasana in case of sciatica or slipped disc.</li>
                <li>This pose is not recommended to be practiced by pregnant women.</li>
            </ul>
        </div>
    </div>

    <div class="conatiner second">
        <h2>Bhujangasana (Cobra Pose)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/bhujangasana.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Bhujangasana widely known as Cobra Pose is a backward bending pose. The Sanskrit name Bhujangasana is
                    derived from two words. ‘Bhujanga’ stands for serpent while ‘asana’ means posture. The final
                    position of Bhujangasana resembles a cobra with its hood raised and hence the name. It is an
                    excellent pose for strengthening the spine along with many other benefits such as alleviating
                    constipation, stimulating appetite, and massaging abdominal organs.</p>
            </div>
        </div>
        <h3>Steps to practice Bhujangasana (Cobra Pose)</h3>
        <ol>
            <li>Lie flat on your stomach keeping your legs straight, feet together, heels slightly touching each other
                and toes pointing.</li>
            <li>Rest the palm of your hands by the side of your chest, your arms must be close to your body with elbows
                pointing outward.</li>
            <li>Rest your forehead on the floor and relax your body.</li>
            <li>Inhale and raise your forehead, neck and then shoulders. Using your back muscles raise your chest, now
                use the strength of your arms to raise your trunk. Look upward breathing normally. This is the final
                position.</li>
            <li>In the final position, your navel should not raise more than 3cm; with your pubic bones touching the
                floor. Hold this position for 20-25 seconds.</li>
            <li>To come back to starting position first exhale and then slowly lower your navel, chest, shoulders, neck,
                and forehead. Relax and take deep breaths.</li>
        </ol>
        <p>Practice this asana 3-5 times, practicing before or after a forward bending pose such as Paschimottanasana
            (seated forward bend) will give you maximum benefits. With regular practice, you will be able to straighten
            your arms, arching the spine to a greater extent.</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Bhujangasana (Cobra Pose) Benefits</h3>
                <ol>
                    <li>Being the 7th posture of Suryanamaskar, it has several benefits such as:</li>
                    <li>Strengthens the spine, keeps it strong, healthy, and flexible.</li>
                    <li>Gives a good stretch to your neck, shoulder, chest, lungs, and abdomen.</li>
                    <li>Enhances the functioning of abdominal organs such as kidney and liver.</li>
                    <li>Beneficial in menstrual and other disorders of the female reproductive system.</li>
                    <li>Useful for people suffering from back pain, slipped disc, sciatica and cervical spondylitis.
                    </li>
                </ol>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fOdrW7nf9gw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3 id="3-precautions-amp-contraindications">Precautions for Bhujangasana (Cobra Pose)</h3>
            <ol>
                <li>Arch your spine as much as you can but don’t apply force. Some people are naturally flexible while
                    some are not and a lot of us have very stiff muscles. Never rush! Give your body the time it needs
                    to gain strength and flexibility.</li>
                <li>Take very little support of your arms, use your back muscles to hold the weight of your upper body
                    in the pose that is how your spine is going to get stronger.</li>
                <li>Your feet might raise a bit from the ground unintentionally, try to keep them down.</li>
                <li>Practice this asana under the guidance of an instructor if you suffer from any of this condition:
                    hyperthyroidism, hernia, peptic ulcer or intestinal tuberculosis.</li>
            </ol>
        </div>
    </div>


    <div class="conatiner first">
        <h2>Paschimottanasana (Seated forward bend)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/paschimottanasana.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Paschimottanasana due to its intense stretching effect on the whole back is also known by several
                    other names such as seated forward bend back stretching pose and intense dorsal stretch. Practicing
                    this asana invigorates muscles of spinal column and circulation of the nerves along with many other
                    benefits. So let’s begin with the steps to practice Paschimottanasana.</p>
            </div>
        </div>
        <h3>Steps to practice Paschimottanasana (Seated forward bend)</h3>
        <p>Starting position: Sit with the legs outstretched straight in front, feet together without touching each
            other. Back, neck and head straight and comfortable. Hands on the side, palms faced down resting on the
            floor behind the buttocks. Relax the whole body.</p>
        <ol>
            <li>Move your trunk forward from the pelvic region while sliding your hands towards the legs.</li>
            <li>Reach the feet using your hands. Aim to get a hold of the big toes with your thumb and fingers.</li>
            <li>If you successfully reach the big toes, grab ankles, heels or any other part of the feet that you can
                hold without applying force.</li>
            <li>If you don’t reach your feet, keep your hands the farthest you can comfortably.</li>
            <li>Remain in this position for a few seconds.Relax the muscles of the back and legs.</li>
            <li>Keep the legs straight; using the arms’ muscles gently extend the spine.Bring the trunk closer to the
                body while bending your elbows. If possible touch the forehead to the knees without using force.</li>
            <li>Remain in this position for as long as you feel comfortable. Take slow and deep breaths.</li>
            <li>To come back to starting position let go of the hold of feet/legs, raise the head and slowly move the
                trunk back using the muscles of the pelvic region.</li>
        </ol>
        <p>Practice this asana 3-5 times, practicing before or after a forward bending pose such as Paschimottanasana
            (seated forward bend) will give you maximum benefits. With regular practice, you will be able to straighten
            your arms, arching the spine to a greater extent.</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Bhujangasana (Cobra Pose) Benefits</h3>
                <ul>
                    <li>Tones and massages the organs of the pelvic and abdominal region such as pancreas, liver,
                        kidneys, spleen, adrenal glands and gonad glands.</li>
                    <li>Improves digestion, remove excess fat from the pelvic and abdominal region and increase the
                        flexibility of the hip joints.</li>
                    <li>Gives a good stretch to the spinal column, hamstring muscles and is beneficial for the heart.
                    </li>
                    <li>Helpful in curing impotency in males.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/T8sgVyF4Ux4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3 id="3-precautions-amp-contraindications">Precautions for Paschimottanasana (Seated forward bend)</h3>
            <ul>
                <li>While moving the trunk forward use the muscles of the pelvic region of the back, not the spine
                    muscles. Initially, it won’t be easy for people having stiff muscles but with practice, it can be
                    learned.</li>
                <li>While reaching for the big toes expand the arms from the shoulder but don’t use force to reach the
                    big toes. The time differs from person to person to reach the final position depending on their
                    flexibility and consistency they put into practice.</li>
                <li>This asana should not be practiced in case the person suffers from any of this condition: sciatica
                    slipped disc and hernia.</li>
            </ul>
        </div>
    </div>


    <div class="conatiner second">
        <h2>Pawanmuktasana (Wind Relieving Pose)</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/img/pawanmuktasana.jpeg" style="height: 300px; width: 100%;" alt="">
            </div>
            <div class="col-lg-6">
                <p>Pawanmuktasana known as Wind Relieving Pose in English is a reclined posture. The Sanskrit name
                    Pawanmuktasana is made up three Sanskrit words Pawan+Mukta+Asana where Pawan means wind, Mukta means
                    to release and Asana means posture. Practicing this asana is helpful in removing constipation and
                    gas from stomach and intestines and hence the name; along with it there are several other benefits
                    of Pawanmuktasana, let’s us first know the right steps to practice Pawanmuktasana.</p>
            </div>
        </div>
        <h3>Steps to practice Pawanmuktasana (Wind Relieving Pose)</h3>
        <p>To ensure you get the maximum benefits of an asana and to avoid formulating any kind of injury one should be
            aware of the correct alignment of the body in an asana. Here are the steps to practice Pawanmuktasana
            correctly:</p>
        <p>Base Position: Lie flat on the back keeping the legs straight and together. Keep the arms by the sides with
            the palms down. Head, neck & spine should be in a straight line.</p>
        <ol>
            <li>Relax the body in the base position.</li>
            <li>Raise the right leg, bend the knee and bring the thigh close to the chest.</li>
            <li>To bring the thigh closer to the chest, interlock the fingers of both hands and hold the right leg from
                just below the knee.</li>
            <li>Inhale deeply and while exhaling lift the head bringing the nose closer to the right knee without
                straining. After weeks of practice, one can touch the chin to the knees instead of the nose during the
                practice.</li>
            <li>The left leg must lie straight on the ground. This is the final position.</li>
            <li>Hold the position for a few seconds as per your comfort.</li>
            <li>To come back to base position first bring the head back on the yoga mat, release the hands and the leg.
                Relax the body.</li>
        </ol>
        <p>Practice 3 times with each leg.</p>
        <p>Level 2: Follow the same steps with both the legs together instead of one leg at a time. Practice 3 times.
        </p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Benefits of Pawanmuktasana (Wind Relieving Pose)</h3>
                <p>The health benefits of Pawanmuktasana that one may experience with regular practice are as follows:
                </p>
                <ul>
                    <li>Enhances blood circulation in the pelvic region.</li>
                    <li>Loosen up the spinal column and strengthens the muscles of the neck and lower back.</li>
                    <li>Massages the abdominal organs hence leading to the removal of constipation.</li>
                    <li>Massages reproductive organs and hence helpful in getting rid of menstrual problems, infertility
                        and impotence.</li>
                    <li>Helps to remove excess fat from abdomen and thighs.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/EGpYPKJhVsE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h3>Precautions for Pawanmuktasana (Wind Relieving Pose)</h3>
            <p>Precautions for Pawanmuktasana to be kept in mind for a safer practice are as follows:</p>
            <ul>
                <li>If the neck begins to ache one must bring the head down else it may cause strain.</li>
                <li>People with neck problem should practice without raising the head.</li>
                <li>Don’t push the thighs in the chest with too much pressure. It must feel comfortable.</li>
                <li>People suffering from any of this condition should avoid practicing this asana: piles, heart
                    problems, hernia, any severe back condition such as slipped disc and sciatica; or high blood
                    pressure.</li>
                <li>Pregnant women should avoid practicing this asana.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}