{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/faq.css')}}">

{% endblock %}

{% block content %}
<div class="container col-lg-6 col-md-10 col-sm-12" style="margin-top: 180px; margin-bottom: 120px;">

    <h2 style="color: darkcyan; letter-spacing: 1px; margin-bottom: 30px; font-family: 'exo'; font-size: 40px;">
        Frequently Asked Question</h2>

    <button class="accordion">What is the importance of health checkup?</button>
    <div class="panel">
        <p>Health checkup helps to diagnose a disease before it advances to a critical stage. It ensure that you save
            money in the long run. Forming a good partnership with your doctor and thus letting you get acquainted with
            healthier habits.</p>
    </div>

    <button class="accordion">How easy is it to make check for disease?</button>
    <div class="panel">
        <p>It is very easy to check for disease. go to checkup page and enter 1 - 5 symptoms that you have and click on
            check. A disease will be diagnosed on the screen. Ask medibot fot the treatement related to that disease.
        </p>
    </div>

    <button class="accordion">What all features are available?</button>
    <div class="panel">
        <p>We provide disease diagnosis on the basis of the sympotoms inputted by the user and also provides the
            preventive measure for some common diseases. User can also get health related news from all around the
            world.</p>
    </div>

    <button class="accordion">Why check on MediSphere?</button>
    <div class="panel">
        <p>Disease diagnosis plays a pivotal role in healthcare informatics. It is crucial to diagnose the disease at an
            early stage. The lack or delay in proper treatment can also lead to the death of patients.</p>
    </div>

    <button class="accordion">What diseases can be diagnosed?</button>
    <div class="panel">
        <p>We diagnose multiple diseases some of the are provided on the home page and a link to the dataset of disease
            is also provided in the last section of the same page.</p>
    </div>

    <button class="accordion">How accurate is the checkup?</button>
    <div class="panel">
        <p> The accuracy of an algorithm is determined by the performance on the given dataset. Our model is able to
            diagnose data with 90% average accuracy.</p>
    </div>

    <button class="accordion">How do I report a bug?</button>
    <div class="panel">
        <p>If you find a bug in the app, please let us know right away so we can fix it as quickly as possible. Click on
            'Email Us' given in footer, you will be directed to mail so that you can send your problem to us via email.
        </p>
    </div>
</div>
<script src="{{url_for('static', filename='js/faq.js')}}"></script>
{% endblock %}