{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/yoga.css')}}">
{% endblock %}

{% block content %}
<h1>YOGA ASANAS FOR PREVENTING HYPERTENSION</h1>
<div class="container main-div" style="margin-top: 120px; margin-bottom: 120px; padding: 50px;">
    <h1>HYPERTENSION</h1>
    <div class="js-health-article__content">
        <div class="js-section js-section--overview">
            <h3 id="what-is-high-blood-pressure-hypertension-">What is high blood pressure (hypertension)?</h3>
            <p>Blood pressure is the measurement of the pressure or force of blood pushing against blood vessel walls.
                When you have hypertension (high blood pressure), it means the pressure against the blood vessel walls
                in your body is consistently too high. High blood pressure is often called the “silent killer” because
                you may not be aware that anything is wrong, but the damage is still occurring within your body.</p>
            <p>Your blood pressure reading has two numbers. The top number is the systolic blood pressure, which
                measures the pressure on the blood vessel walls when your heart beats or contracts. The bottom number is
                the diastolic blood pressure, which measures the pressure on your blood vessels between beats when your
                heart is relaxing.</p>
            <p>For example, a blood pressure of 110/70 is within the normal range, but a blood pressure of 135/85 is
                stage 1 (mild) hypertension, and so on (see table).</p>
            <p></p>
            <table class="js-has-responsive-th js-responsive-table-3-level responsive-table-3-level">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Blood Pressure</th>
                    </tr>
                </thead>
                <thead class="js-floating-header floating-header" style="visibility: hidden;">
                    <tr>
                        <th>Category</th>
                        <th>Blood Pressure</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Normal</td>
                        <td class="table-sub-heading">Blood Pressure</td>
                        <td>Under 130/80 mmHg</td>
                    </tr>
                    <tr>
                        <td>Stage I Hypertension (mild)</td>
                        <td class="table-sub-heading">Blood Pressure</td>
                        <td>130-139/OR diastolic between 80-89 mmHg</td>
                    </tr>
                    <tr>
                        <td>Stage 2 Hypertension (moderate)</td>
                        <td class="table-sub-heading">Blood Pressure</td>
                        <td>140/90 mmHg or higher</td>
                    </tr>
                    <tr>
                        <td>Hypertensive Crisis (get emergency care)</td>
                        <td class="table-sub-heading">Blood Pressure</td>
                        <td>180/120 mmHg or higher</td>
                    </tr>
                </tbody>
            </table>
            <p></p>
            <div id="mobile-ad-1" class="ad-mobile">
                <div id="billboard_300x250_mobile" class="ad-mobile__container"></div>
                <div class="ad-mobile__description">
                    <p>
                        Cleveland Clinic is a non-profit academic medical center. Advertising on our site helps support
                        our mission. We do not endorse non-Cleveland Clinic products or services.
                    </p>
                </div>
            </div>
            <h3 id="what-are-the-types-of-high-blood-pressure-">What are the types of high blood pressure?</h3>
            <p>Your provider will diagnose you with one of two types of high blood pressure:</p>
            <ul>
                <li><strong>Primary (also called essential) high blood pressure.</strong> Causes of this most common
                    type of high blood pressure include aging and unhealthy habits like not getting enough exercise.
                </li>
                <li><strong>Secondary high blood pressure.</strong> Causes of this type of high blood pressure include
                    different medical problems (for example kidney or hormonal problems) or sometimes a medication
                    you’re taking.</li>
            </ul>
            <h3 id="what-can-happen-if-high-blood-pressure-is-not-treated-">What can happen if high blood pressure is
                not treated?</h3>
            <p>Untreated hypertension may lead to serious health problems including:</p>
            <ul>
                <li>Stroke.</li>
                <li>Heart attack.</li>
                <li>Peripheral vascular disease.</li>
                <li>Kidney disease/failure.</li>
                <li>Complications during pregnancy.</li>
                <li>Eye damage.</li>
                <li>Vascular dementia.</li>
            </ul>
            <div id="mobile-ad-2" class="ad-mobile">
                <div id="billboard2_300x250_mobile" class="ad-mobile__container"></div>
            </div>
            <h3 id="can-high-blood-pressure-affect-pregnancy-">Can high blood pressure affect pregnancy?</h3>
            <p>High blood pressure complicates about 10% of all pregnancies. There are several different types of high
                blood pressure during pregnancy and they range from mild to serious. The forms of high blood pressure
                during pregnancy include:</p>
            <p><strong>Chronic hypertension</strong>: High blood pressure which is present before pregnancy.</p>
            <p><strong>Gestational hypertension</strong>: High blood pressure in the latter part of pregnancy.</p>
            <p><strong>Preeclampsia</strong>: This is a dangerous condition that typically develops in the latter half
                of pregnancy and results in hypertension, protein in the urine and generalized swelling in the pregnant
                person. It can affect other organs in the body and cause seizures (eclampsia).</p>
            <p><strong>Chronic hypertension with superimposed preeclampsia</strong>: Pregnant people who have chronic
                hypertension are at increased risk for developing preeclampsia.</p>
            <p>Your provider will check your blood pressure regularly during prenatal appointments, but if you have
                concerns about your blood pressure, be sure to talk with your provider.</p>
        </div>
        <div class="js-section js-section--symptoms-and-causes">
            <h2 id="symptoms-and-causes">
                <span class="js-section-icon section-icon section-icon--symptoms-and-causes"></span>
                Symptoms and Causes
            </h2>
            <h3 id="how-do-i-know-if-i-have-high-blood-pressure-">How do I know if I have high blood pressure?</h3>
            <p>High blood pressure usually doesn’t cause symptoms. The only way to know if you have high blood pressure
                is to have your provider measure it. Know your numbers so you can make the changes that help prevent or
                limit damage.</p>
            <div id="mobile-ad-3" class="ad-mobile">
                <div id="billboard3_300x250_mobile" class="ad-mobile__container"></div>
            </div>
            <h3 id="what-are-the-risk-factors-for-high-blood-pressure-">What are the risk factors for high blood
                pressure?</h3>
            <p>You are more likely to have high blood pressure if you:</p>
            <ul>
                <li>Have family members who have high blood pressure, cardiovascular disease or diabetes.</li>
                <li>Are of African descent.</li>
                <li>Are older than 55.</li>
                <li>Are overweight.</li>
                <li>Don’t get enough exercise.</li>
                <li>Eat foods high in sodium (salt).</li>
                <li>Smoke or use tobacco products.</li>
                <li>Are a heavy drinker (more than two drinks a day in men and more than one drink a day in women).</li>
            </ul>
        </div>
        <div class="js-section js-section--diagnosis-and-tests">
            <h2 id="prevention">
                <span class="js-section-icon section-icon section-icon--prevention"></span>
                Prevention
            </h2>
            <h3 id="can-i-prevent-high-blood-pressure-">Can I prevent high blood pressure?</h3>
            <p>There are certain things you can do to help reduce your risk of developing high blood pressure. These
                include eating right, getting the right amount of exercise and controlling salt intake.</p>
            <h3 id="how-can-you-reduce-your-risk-of-high-blood-pressure-">How can you reduce your risk of high blood
                pressure?</h3>
            <p>Fortunately, there are certain things you can do to help reduce your risk of developing high blood
                pressure. These include the following:</p>
            <ul>
                <li><strong>Eat right</strong>: A healthy diet is an important step in keeping your blood pressure
                    normal. The DASH diet (Dietary Approaches to Stop Hypertension) emphasizes adding fruits, vegetables
                    and whole grains to your diet while reducing the amount of sodium. Since it’s rich in fruits and
                    vegetables, which are naturally lower in sodium than many other foods, the DASH diet makes it easier
                    to eat less salt and sodium.</li>
                <li><strong>Keep a healthy weight</strong>: Going hand-in-hand with a proper diet is keeping a healthy
                    weight. Since being overweight increases your blood pressure, losing excess weight with diet and
                    exercise will help lower your blood pressure to healthier levels.</li>
                <li><strong>Cut down on salt</strong>: The recommendation for salt in your diet is to have less than
                    1,500 milligrams of sodium a day (equal to about one teaspoon). To prevent hypertension, you should
                    keep your salt intake below this level. Don't forget that most restaurant foods (especially fast
                    foods) and many processed and frozen foods contain high levels of salt. Use herbs and spices that do
                    not contain salt in recipes to flavor your food; do not add salt at the table. (Salt substitutes
                    usually have some salt in them.)</li>
                <li><strong>Keep active</strong>: Even simple physical activities, such as walking, can lower your blood
                    pressure (and your weight).</li>
                <li><strong>Drink</strong> <strong>alcohol</strong> <strong>in moderation</strong>: Having more than one
                    drink a day (for women) and two drinks a day (for men) can raise blood pressure.</li>
            </ul>
        </div>

        <h1>YOGA ASANAS FOR PREVENTING HYPERTENSION</h1>
        <div class="conatiner first">
            <h2>Vajrasana</h2>
            <div class="row">
                <div class="col-lg-6">
                    <img src="../static/img/vajrasana.jpeg" style="height: 300px; width: 100%;" alt="">
                </div>
                <div class="col-lg-6">
                    <p>Vajrasana pose is a simple sitting yoga pose. Its name comes from the Sanskrit word vajra, which
                        means thunderbolt or diamond.</p>
                    <p>For this pose, you kneel and then sit back on your legs to take the weight off your knees.
                        Breathing and meditative exercises are often done in this position, which is said to help your
                        body become as strong as a diamond.</p>
                    <p>Keep reading to learn how to do Vajrasana pose and the many positive benefits it provides.</p>
                </div>
            </div>
            <h3>How to do the Vajrasana pose</h3>
            <p>You can get into the Vajrasana pose in six simple steps:</p>
            <ol>
                <li>Start by kneeling on the floor. Consider using a yoga mat for comfort.</li>
                <li>Pull your knees and ankles together and point your feet in line with your legs. The bottoms of your
                    feet should face upward with your big toes touching.</li>
                <li>Exhale as you sit back on your legs. Your buttocks will rest on your heels and your thighs will rest
                    on your calves.</li>
                <li>Put your hands on your thighs and adjust your pelvis slightly backward and forward until you’re
                    comfortable.</li>
                <li>Breathe in and out slowly as you position yourself to sit up straight by straightening your spine.
                    Use your head to pull your body upward and press your tailbone toward the floor.</li>
                <li>Straighten your head to gaze forward with your chin parallel to the floor. Position your hands palms
                    down on your thighs with your arms relaxed.</li>
            </ol>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Benefits of Vajrasana</h3>
                    <ul style="color: black; list-style: disc;">
                        <li>aiding in digestion</li>
                        <li>relieving or preventing constipation</li>
                        <li>strengthening pelvic muscles</li>
                        <li>helping keep the mind calm and stable</li>
                        <li>curing digestive acidity and gas formation</li>
                        <li>helping to relieve knee pain</li>
                        <li>strengthening thigh muscles</li>
                        <li>helping to relieve back pain</li>
                        <li>helping in treatment of urinary problems</li>
                        <li>increasing blood circulation to the lower abdominal region</li>
                        <li>helping to reduce obesity</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/3ILEYJOtHgM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <h3>Precautions</h3>
            <p>Before starting a yoga program, consult with a doctor. They can offer advice on how yoga will impact your
                current health and suggest ways to avoid potential problems.</p>
            <p>Yoga practitioners suggest avoiding Vajrasana if you have:</p>
            <ul style="color: black; list-style: disc;">
                <li>a knee problem or have recently undergone knee surgery</li>
                <li>a spinal cord condition, especially with the lower vertebrae</li>
                <li>intestinal ulcers, a hernia, or any other intestinal problems such as an ulcer or hernia</li>
            </ul>
            <p>If you’re pregnant, ask your doctor about Vajrasana. Some feel it should be avoided. Others feel it’s OK
                if you keep your knees apart to avoid stressing your abdomen. Your doctor is familiar with your
                situation and can give you a personalized recommendation.</p>
        </div>

        <div class="conatiner second">
            <h2>Pawanmuktasana (Wind Relieving Pose)</h2>
            <div class="row">
                <div class="col-lg-6">
                    <img src="../static/img/pawanmuktasana.jpeg" style="height: 300px; width: 100%;" alt="">
                </div>
                <div class="col-lg-6">
                    <p>Pawanmuktasana known as Wind Relieving Pose in English is a reclined posture. The Sanskrit name
                        Pawanmuktasana is made up three Sanskrit words Pawan+Mukta+Asana where Pawan means wind, Mukta
                        means to release and Asana means posture. Practicing this asana is helpful in removing
                        constipation and gas from stomach and intestines and hence the name; along with it there are
                        several other benefits of Pawanmuktasana, let’s us first know the right steps to practice
                        Pawanmuktasana.</p>
                </div>
            </div>
            <h3>Steps to practice Pawanmuktasana (Wind Relieving Pose)</h3>
            <p>To ensure you get the maximum benefits of an asana and to avoid formulating any kind of injury one should
                be aware of the correct alignment of the body in an asana. Here are the steps to practice Pawanmuktasana
                correctly:</p>
            <p>Base Position: Lie flat on the back keeping the legs straight and together. Keep the arms by the sides
                with the palms down. Head, neck & spine should be in a straight line.</p>
            <ol>
                <li>Relax the body in the base position.</li>
                <li>Raise the right leg, bend the knee and bring the thigh close to the chest.</li>
                <li>To bring the thigh closer to the chest, interlock the fingers of both hands and hold the right leg
                    from just below the knee.</li>
                <li>Inhale deeply and while exhaling lift the head bringing the nose closer to the right knee without
                    straining. After weeks of practice, one can touch the chin to the knees instead of the nose during
                    the practice.</li>
                <li>The left leg must lie straight on the ground. This is the final position.</li>
                <li>Hold the position for a few seconds as per your comfort.</li>
                <li>To come back to base position first bring the head back on the yoga mat, release the hands and the
                    leg. Relax the body.</li>
            </ol>
            <p>Practice 3 times with each leg.</p>
            <p>Level 2: Follow the same steps with both the legs together instead of one leg at a time. Practice 3
                times.</p>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Benefits of Pawanmuktasana (Wind Relieving Pose)</h3>
                    <p>The health benefits of Pawanmuktasana that one may experience with regular practice are as
                        follows:</p>
                    <ul>
                        <li>Enhances blood circulation in the pelvic region.</li>
                        <li>Loosen up the spinal column and strengthens the muscles of the neck and lower back.</li>
                        <li>Massages the abdominal organs hence leading to the removal of constipation.</li>
                        <li>Massages reproductive organs and hence helpful in getting rid of menstrual problems,
                            infertility and impotence.</li>
                        <li>Helps to remove excess fat from abdomen and thighs.</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/EGpYPKJhVsE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <h3>Precautions for Pawanmuktasana (Wind Relieving Pose)</h3>
                <p>Precautions for Pawanmuktasana to be kept in mind for a safer practice are as follows:</p>
                <ul>
                    <li>If the neck begins to ache one must bring the head down else it may cause strain.</li>
                    <li>People with neck problem should practice without raising the head.</li>
                    <li>Don’t push the thighs in the chest with too much pressure. It must feel comfortable.</li>
                    <li>People suffering from any of this condition should avoid practicing this asana: piles, heart
                        problems, hernia, any severe back condition such as slipped disc and sciatica; or high blood
                        pressure.</li>
                    <li>Pregnant women should avoid practicing this asana.</li>
                </ul>
            </div>
        </div>

        <div class="conatiner first">
            <h2>Chakrasana (Wheel Pose)</h2>
            <div class="row">
                <div class="col-lg-6">
                    <img src="../static/img/chakrasana.jpeg" style="height: 300px; width: 100%;" alt="">
                </div>
                <div class="col-lg-6">
                    <p>Chakrasana commonly known as Wheel Pose is also called Upward-Facing Bow Pose and Back Bridge.
                        The Sanskrit name ‘Chakrasana’ is derived from the Sanskrit word chakra and asana, where
                        ‘chakra’ stands for ‘wheel’ and ‘asana’ stands for ‘posture’ or ‘seat’. In Sanskrit, Chakrasana
                        is also known as ‘Urdhvadhanurasana’. It is a backward-bending pose and a part of Ashtanga yoga.
                        Chakrasana increases the flexibility to the spine. </p>
                </div>
            </div>
            <h3>Steps to practice Chakrasana (Wheel Pose)</h3>
            <ol>
                <li>Increases the flexibility of the body.</li>
                <li>Strengthens the bones and muscles of the body and is mainly beneficial in strengthening the legs.
                </li>
                <li>strengthens the respiratory system as by doing it, the chest enhances and the lungs get oxygen to
                    its fullest.</li>
                <li>Relives all the stress and tension as it strengthens the nervous system and refreshes the brain.
                </li>
                <li>Helpful in reducing the fat of the abdomen and to get rid of the bloated belly.</li>
                <li>Beneficial for the digestive system, gastric problems and for all the disorders of the female
                    reproductive system.</li>
                <li>Ensures better functioning of the heart, liver, spleen, and kidneys. Helpful in curing hernia.</li>
            </ol>
            <p>Keeping the spine straight might be tough in the beginning as most of us are habitual of sitting with our
                spine supported (while studying, while driving, in the office, while watching TV etc). Regular practice
                is the key to sit straight without any support, it makes our back muscles strong and prevents any kind
                of a backache or impending back disease.</p>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Chakrasana (Wheel Pose) Benefits</h3>
                    <ul>
                        <li>Gradually strengthens muscles of the back and improves body posture.</li>
                        <li>Being a meditative pose it has relaxing effects on mind and body.</li>
                        <li>Works as a preparatory pose for more difficult meditative poses.</li>
                        <li>Builds physical and mental balance.</li>
                        <li>Helpful in reducing stress and anxiety.</li>
                        <li>Excellent for people having a stiff body.</li>
                        <li>Creates flexibility in ankle, knee and hip joints.</li>
                        <li>Improves concentration for achieving an effective meditation practice.</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4CWuONgOX0c"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <h3>Precautions for Chakrasana (Wheel Pose)</h3>
                <ul>
                    <li>Do not practice Chakrasana directly. You should practice easy postures such as setu asana and
                        other backward back bending asanas as preparatory asanas before practicing Chakrasana.</li>
                    <li>It should not be practiced by people suffering from any illness.</li>
                    <li>Chakrasana is not suitable for weak people having some weakness in wrist or back.</li>
                    <li>Women should avoid practicing Chakrasana during pregnancy.</li>
                </ul>
            </div>
        </div>

        <div class="conatiner second">
            <h2>Bhujangasana (Cobra Pose)</h2>
            <div class="row">
                <div class="col-lg-6">
                    <img src="../static/img/bhujangasana.jpeg" style="height: 300px; width: 100%;" alt="">
                </div>
                <div class="col-lg-6">
                    <p>Bhujangasana widely known as Cobra Pose is a backward bending pose. The Sanskrit name
                        Bhujangasana is derived from two words. ‘Bhujanga’ stands for serpent while ‘asana’ means
                        posture. The final position of Bhujangasana resembles a cobra with its hood raised and hence the
                        name. It is an excellent pose for strengthening the spine along with many other benefits such as
                        alleviating constipation, stimulating appetite, and massaging abdominal organs.</p>
                </div>
            </div>
            <h3>Steps to practice Bhujangasana (Cobra Pose)</h3>
            <ol>
                <li>Lie flat on your stomach keeping your legs straight, feet together, heels slightly touching each
                    other and toes pointing.</li>
                <li>Rest the palm of your hands by the side of your chest, your arms must be close to your body with
                    elbows pointing outward.</li>
                <li>Rest your forehead on the floor and relax your body.</li>
                <li>Inhale and raise your forehead, neck and then shoulders. Using your back muscles raise your chest,
                    now use the strength of your arms to raise your trunk. Look upward breathing normally. This is the
                    final position.</li>
                <li>In the final position, your navel should not raise more than 3cm; with your pubic bones touching the
                    floor. Hold this position for 20-25 seconds.</li>
                <li>To come back to starting position first exhale and then slowly lower your navel, chest, shoulders,
                    neck, and forehead. Relax and take deep breaths.</li>
            </ol>
            <p>Practice this asana 3-5 times, practicing before or after a forward bending pose such as
                Paschimottanasana (seated forward bend) will give you maximum benefits. With regular practice, you will
                be able to straighten your arms, arching the spine to a greater extent.</p>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Bhujangasana (Cobra Pose) Benefits</h3>
                    <ol>
                        <li>Being the 7th posture of Suryanamaskar, it has several benefits such as:</li>
                        <li>Strengthens the spine, keeps it strong, healthy, and flexible.</li>
                        <li>Gives a good stretch to your neck, shoulder, chest, lungs, and abdomen.</li>
                        <li>Enhances the functioning of abdominal organs such as kidney and liver.</li>
                        <li>Beneficial in menstrual and other disorders of the female reproductive system.</li>
                        <li>Useful for people suffering from back pain, slipped disc, sciatica and cervical spondylitis.
                        </li>
                    </ol>
                </div>
                <div class="col-lg-6">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fOdrW7nf9gw"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <h3 id="3-precautions-amp-contraindications">Precautions for Bhujangasana (Cobra Pose)</h3>
                <ol>
                    <li>Arch your spine as much as you can but don’t apply force. Some people are naturally flexible
                        while some are not and a lot of us have very stiff muscles. Never rush! Give your body the time
                        it needs to gain strength and flexibility.</li>
                    <li>Take very little support of your arms, use your back muscles to hold the weight of your upper
                        body in the pose that is how your spine is going to get stronger.</li>
                    <li>Your feet might raise a bit from the ground unintentionally, try to keep them down.</li>
                    <li>Practice this asana under the guidance of an instructor if you suffer from any of this
                        condition: hyperthyroidism, hernia, peptic ulcer or intestinal tuberculosis.</li>
                </ol>
            </div>
        </div>


        <div class="conatiner first">
            <h2>Shavasana (Corpse Pose)</h2>
            <div class="row">
                <div class="col-lg-6">
                    <img src="../static/img/shavasana.jpeg" style="height: 300px; width: 100%;" alt="">
                </div>
                <div class="col-lg-6">
                    <p>Shavasana commonly known as Corpse Pose in English is a relaxation pose. The Sanskrit name
                        Shavasana is derived from two words, the first Shava, which means Corpse and the second Asana,
                        which means Posture. In Sanskrit, this asana is also known as Mritasana (Dead Man’s Pose) as in
                        this asana, the person lays on the ground like a dead body. It is usually practiced for relaxing
                        the body after performing yoga poses. This asana is highly beneficial for relaxing the mind and
                        the body, along with it there are several other benefits of Shavasana, but first, let’s begin by
                        knowing the steps to practice Shavasana.</p>
                </div>
            </div>
            <h3>Steps to practice Shavasana (Corpse Pose)</h3>
            <p>It is very important to know the right alignment of the body in an asana to avoid any kind of injury and
                to attain the maximum benefits of it. Here are the steps to practice Shavasana correctly:</p>
            <ol>
                <li>Lie flat and straight on the back.</li>
                <li>Place both the arms at a distance of 15 cm (approx.) away from the body. Keep both the palms facing
                    in the upward direction. Slightly curl up the fingers a bit.</li>
                <li>Move both the feet a bit, so that they are slightly apart and make you feel comfortable. Then, close
                    both the eyes.</li>
                <li>Keep the head and the spine in a fully straight line.</li>
                <li>Do not let the head shake or fall to one or the other side.</li>
                <li>Stop all kind of physical movement and lay peacefully. Relax the mind and the body.</li>
                <li>Feel each and every breath going in and out; let it be tranquil and soothing for your soul.</li>
                <li>After resting for a few moments, again start feeling the body and the surroundings. Then, gently
                    release the posture and come back to the normal state.</li>
            </ol>
            <p>Lie in this asana for as long as you find it comfortable, but generally, 1-2 minute is enough. In order
                to make the practice more comfortable, a thin pillow or thin folded cloth may be used beneath the head.
                This asana is more beneficial when done after strenuous yoga poses or before meditation or sleep.</p>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Benefits of Shavasana (Corpse Pose)</h3>
                    <ol>
                        <li>Infuses new vigor and vitality in the body.</li>
                        <li>Improves the digestion and stimulates the appetite.</li>
                        <li>Improves the blood circulation of the body.</li>
                        <li>Removes all kinds of stress, tension and anxiety.</li>
                        <li>Helpful in getting rid of depression and other mental problems.</li>
                        <li>Balances the functioning of all the abdominal organs.</li>
                        <li>Rejuvenates and refreshes the whole mind and body.</li>
                    </ol>
                </div>
                <div class="col-lg-6">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ogaDPQ85508"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <h3 id="3-precautions-amp-contraindications">Precautions for Shavasana (Corpse Pose)</h3>
                <p>The precautions for Shavasana to be kept in mind for a safer practice are given below:</p>
                <ol>
                    <li>Avoid moving the body while practicing this asana as even the slightest movement may disturb the
                        practice.</li>
                    <li>Avoid practicing this asana in the disturbing atmosphere as disturbances may disturb the peace
                        of mind.</li>
                </ol>
            </div>
        </div>


        <div class="conatiner second">
            <h2>Tadasana</h2>
            <div class="row">
                <div class="col-lg-6">
                    <img src="../static/img/tadasana.jpeg" style="height: 300px; width: 100%;" alt="">
                </div>
                <div class="col-lg-6">
                    <h3>What is Tadasana?</h3>
                    <p>Tadasana serves to be the foundation for follow-up poses. In Sanskrit, ‘Tada’ means ‘mountain’
                        and ‘asana’ means ‘pose’. Hence the name, ‘Mountain Pose’. It is an ideal pose for those with
                        weak back muscles and rounded backs as it can help restore the body’s natural alignment.
                        Children are often suggested to practise this asana and it can help in increasing the height.
                        This asana can also help improve posture. Let’s take a look at the benefits of practising this
                        asana.</p>
                </div>
            </div>
            <h3>Steps to practice Tadasana</h3>
            <ol>
                <li>Stand on a yoga mat; your feet should be slightly apart.</li>
                <li>Your hands should be alongside your body.</li>
                <li>Inhale deeply and slowly raise your arms upwards then interlock your fingers.</li>
                <li>Raise your heels and stand on your toes. Your toes should be fanned out a little.</li>
                <li>Feel your body stretching. Look up.</li>
                <li>Place your body weight on your toes and stretch out your shoulders, arms, and chest up.</li>
                <li>Hold this pose for a few moments.</li>
                <li>Exhale and return to the starting position.</li>
            </ol>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Benefits of Tadasana</h3>
                    <ol>
                        <li>Improves Your Posture</li>
                        <li>May Help Increases Height</li>
                        <li>Boosts Mental Awareness</li>
                        <li>Improves Breathing</li>
                        <li>Promotes Weight Loss</li>
                        <li>Boosts Energy Levels</li>
                        <li>Improves Your Mood</li>
                        <li>Provides Relief From Sciatica</li>
                    </ol>
                </div>
                <div class="col-lg-6">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0mPNlC0vD6s"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <h3 id="3-precautions-amp-contraindications">Precautions to Take While Doing Tadasana</h3>
                <p>If you have never performed this asana before, you must practise it with caution. Here are some
                    precautions you will need to take while practising this asana.</p>
                <ol>
                    <li>Don’t do this pose if you suffer from insomnia.</li>
                    <li>If you experience a headache, stop immediately.</li>
                    <li>If you take any blood thinning medications or have low blood pressure, avoid doing this pose
                        without consulting a doctor.</li>
                </ol>
            </div>
        </div>


    </div>
    {% endblock %}