body{
    text-align: center;
    /* color: darkcyan; */
    font-family: sans-serif;
    margin: 0;
}
h1, h2, h3{
    color: darkcyan;
    font-weight: 300;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2.5rem;
    margin: 20px auto;
    font-weight: 500;
}
p{
    line-height: 1.5;
    letter-spacing: 1px;
    color: black;
    margin: 20px 0;
}
.profile-pic{
    /* border-radius: 50%; */
    object-fit: cover;
    margin: 40px;
    height: 400px;
    width: 400px;
}
.bg-img{
    width: 100vw;
    position: relative;
    height: 100vh;
    object-fit: cover;
    z-index: -999;
}
ul, ol{
    list-style: none;
}
hr{
    border: dotted #d1d0d0 6px;
    border-bottom: none;
    width: 4%;
    margin: 80px auto;
} 
.center {
    margin-left: auto;
    margin-right: auto;
}
.skill-row{
    width: 60%;
    margin: 80px auto;
    text-align: left;
}
.code-img {
    float: left;
    margin-right: 60px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
}
.chilli-img {
    float: right;
    margin-left: 60px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
}
.fas{
    font-size: 15px;
    padding: 10px;
}
.golden{
    color: #ff4449;
}
.footer-link{
    color: #095457;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    color: white;
}

input, textarea{
    width: 80%; 
    padding: 10px;
    border: none;
    outline: none;
    color: grey;
    border-radius: 5px;
    margin: 10px 0;
}

.down-arrow{
    font-size: 25px;
    color: #ff4449;
}

.footer-link:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.contact-desc:hover{
    color: white;
    text-decoration: none;
}

.inline-photo {
    opacity: 0;
    transform: translateY(50px);
    transition: transform 2s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.inline-photo.is-visible {
    opacity: 1;
    transform: rotateY(0);
}

.inner-div{
    animation: mymove 1s 1;
}

.inner-div2{
    animation: mymove 1.3s 1;
}

.inner-div3{
    animation: mymove 1.6s 1;
}

.inner-div4{
    animation: mymove 1.9s 1;
}

.inner-div5{
    animation: mymove 2.2s 1;
}

@keyframes mymove {
    from {transform: translateY(-60px); opacity: -1}
    to {transform: translateX(0); opacity: 1}
}

.c1{
    left: 10%;
}
.c2{
    left: 60%;
}