body{
    background: url('https://images.pexels.com/photos/4498467/pexels-photo-4498467.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer-link{
color: white;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}

.footer-link:hover{
color: white;
text-decoration: none;
cursor: pointer;
}